doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.17.custom.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
    script(src='/javascripts/jquery-ui-1.8.17.custom.min.js')
  body!= body